### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Distribution / packaging
env/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py